@inherits LayoutComponentBase
<MudRTLProvider RightToLeft=true>
    <MudThemeProvider IsDarkMode="false"/>
    <MudDialogProvider
        FullWidth="true"
        MaxWidth="MaxWidth.ExtraExtraLarge"
        CloseButton="true"
        NoHeader="true"
        Position="DialogPosition.Center"
        CloseOnEscapeKey="true"/>
    <MudSnackbarProvider/>

    <MudLayout>
        <MudAppBar>
            <MudGrid Justify="Justify.SpaceBetween" Spacing="50">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
                <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Inherit" Edge="Edge.End" OnClick="@(() => OpenNewDevice())"/>
            </MudGrid>
        </MudAppBar>
        <MudDrawer @bind-Open="@_drawerOpen">
            <NavMenu/>
        </MudDrawer>
        <MudMainContent>
            <AuthorizeView>
                <Authorized>
                    <MudContainer MaxWidth="MaxWidth.Large">
                        @Body
                    </MudContainer>
                </Authorized>
                <NotAuthorized>
                    <p>لطفا ابتدا ورود کنید</p>
                </NotAuthorized>
            </AuthorizeView>
        </MudMainContent>
    </MudLayout>
</MudRTLProvider>

@code {
    bool _drawerOpen;

    [Inject] public NavigationManager NavigationManager { get; set; }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    void OpenNewDevice()
    {
        NavigationManager.NavigateTo("add-device");
    }

}